
body{
	background-color: white;
	margin: 0px;

}
body,input{
	font-family: 'times new roman',微软雅黑,宋体;
	font-size: 10px;
}

a {
	text-decoration: none;

}
li {
		display: block;
	list-style-type: none;
}
li a{
	width: 100%;
	
	text-decoration: none;
	padding: 5px 8px 5px 8px;

}
/*.right-mini-nav  span a:link,.right-mini-nav span a:visited{
	color: #2058b4;
}*/
 a:link,a:visited,.left-nav  a,.left-nav span a,.top-nav li a{
	color: #393b3d;

}
.menuchoice span li a:link,.menuchoice span li a:visited,a:link;a:visited{
	color:white;
}
.menuchoice span li a:hover{
	color: white;
}
 a:hover,.left-nav  a:hover,.left-nav span a:hover,.top-nav li a:hover {
	color: #2058b4;
	width: 100%;
}

input[type="text"]{
	border-width:0px;
	border-bottom:1px solid black;
	height: 25px;
	display: inline;
}

.contain {
	padding: 0px;
	margin:1px;
	float: none;
	font-size: 20px;
	height: 115%;
	position: absolute;

}
.top {
	height: 65px;
	background-color: #f2f2f2;
}
.logo {

	height: 65px;
	width: 137px;
	float: left;
	background-color: ;

}
.top-nav {
	margin: 23px 0px 0px 0px;
	height: 40px;
	height: 38px\9;
	width: auto;
	float: left;

	/*border-width: 1px;*/
	/*border-color: ivory;*/
	/*border-style: solid;*/
}
.top-nav ul{
	margin: 0px;
	font-size: 20px;
	/*font-weight: bold;*/
	height: 40px;
	height: 38px\9;
	line-height: 40px;
	line-height: 38px\9;
}
.top-nav li{
	margin: 4px auto auto -35px;
	list-style-type: none;
	display: block;
}
.users{
	height: 28px;
	width: auto;
	float: right;
	margin: 40px 0px 0px 0px;

}
.users ul{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 28px;
}

.body{
	height: 100%;

}


.left{
	height: 100%;
	width: 137px;
	float:left;
	margin: 0px;
	padding: 0px;

}
.menuchoice span{
	display: inline-block;
	background-color: #2058b4;
}
.menuchoice span li{
	width: 100%;
	background-color: transparent;
}
.menuchoice span li a{
	font-weight: bold;

	color:white;
	background-color:transparent;

}
.left-nav{
	width: 100%;
	margin: 0px;

}

.left-nav ul{

	margin: 0px 0px 0px -30px;
	font-size: 14px;
	/*display: none;*/
	width: 107px;


}
.left-nav li{
	margin: 2px 0px 2px 0px;
	height: 28px;
	height: 24px\9;
	width: 100%;
	line-height: 28px;
	line-height: 24px\9;
	text-vertical-align: middle;;
	list-style-type: none;
	display: list-item;
	background-color: #f2f2f2;

}
.right{
	width:;
	float: right;
	
	
}
.right-mini-nav{
	margin-left:0px;
	margin-top: 2px;
	width: 100%;
	padding: 0px;
	height: 16px;
	font-size: 14px;
	color: grey;
	float: left;
	background-color: #2058b4;
}

.right-nav{
	background-color: #0c4fff;
	width:100%;
	background-color: aqua;

}
.right-nav ul{
	margin: 0px;
	font-size: 20px;
	line-height: 30px;
}
.right-nav li{
	margin: 2px;
	width: 500px;
	list-style-type: none;
	display: inline;

}
.right-content{
	width:80%;
}
.buttom{	
	margin:0px;

	background-color: #9a4;
	width: 100%;

}