
body{

	background: #fffbee;
	margin: 10px;
}
body,input{
	font-family: sans-serif;
	font-size: 10px;
	color: black;
}
a {
	text-decoration: none;

}
li a{
	text-decoration: none;
	padding: 5px 5px;

}
li a:hover{
	color: #ff0;
	background-color: #a36fff;
}
input[type="text"]{
	border-width:0px;
	border-bottom:1px solid black;
	height: 25px;
	display: inline;
}
.contain {
	position:absolute;
	padding: 0px;
	margin:0px;

	float: none;
	width: 100%;
	font-size: 20px;
	height: 115%;
}
.top {
	height: 70px;
	background-color: lavender;
}
.logo {

	height: 70px;
	width: 20%;
	float: left;
	background-color: #89c;

}
.top-nav {
	height: 40px;
	width: auto;
	background-color: #99aa44;
	float: left;
	margin: 30px 0px 0px 5px;
}
.top-nav ul{
	margin: 0px;
	font-size: 20px;
	height: 40px;
}
.top-nav li{
	margin: 8px auto auto -38px;
	list-style-type: none;
	display: block;
}
.users{
	height: 29px;
	width: 250px;
	float: right;
	margin: 40px 0px 0px 0px;
	background-color: #94a;

}

.body{
	height: 100%;

}


.left{
	height: 100%;
	width: 20%;
	float:left;

}
.left-nav{
	width: 100%;
	height: 100%;
	margin-left: 5px;
/*	border-style: solid;
	border-width: 1px;
	border-color: #2c4e55;*/
}
.left-nav ul{
	margin: 0px 0px 0px -25px;
	font-size: 20px;
	line-height: 30px;


}
.left-nav li{
	margin: 2px;
	width: 90%;
	list-style-type: none;
	display: list-item;
	background-color: #ff0;

}
.right-mini-nav{
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 80%;
	font-size: 14px;
	color: grey;
	float: right;
}
.right{
	width: 80%;
	float: right;
	background-color: #0c4fff;

}

.right-nav{
	width:100%;
	background-color: aqua;

}
.right-nav ul{
	margin: 0px;
	font-size: 20px;
	line-height: 30px;
}
.right-nav li{
	margin: 2px;
	width: 500px;
	list-style-type: none;
	display: inline;
	border-style: solid;
	border-width: 1px;
	border-color: #2c4e55;
}
.right-content{
	width:80%;
}
.buttom{	
	margin:15px 0px 15px 0px;
	position: static;
	background-color: #9a4;
	width: 100%;
	float: right;

}