
body{
	background-color: ivory;
	margin: 0px;
}
body,input{
	font-family: sans-serif;
	font-size: 10px;
	color: rgba(16, 16, 16, 0.93);
}

a {
	text-decoration: none;

}
li a{
	width: 100%;
	text-decoration: none;
	padding: 5px 5px;

}
li a:hover{
	color: blue;
	width: 100%;
}
input[type="text"]{
	border-width:0px;
	border-bottom:1px solid black;
	height: 25px;
	display: inline;
}
.contain {
	padding: 0px;
	margin:3px;
	float: none;
	width: 80%;
	font-size: 20px;
	height: 115%;
	position: absolute;

}
.top {
	height: 70px;
	background-color: #eeeeee;
}
.logo {

	height: 70px;
	width: 180px;
	float: left;
	background-color: ;

}
.top-nav {
	height: 40px;
	width: auto;
	background-color: lightgray;
	float: left;
	margin: 28px 0px 0px 5px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
}
.top-nav ul{
	margin: 0px;
	font-size: 20px;
	height: 40px;
}
.top-nav li{
	margin: 8px auto auto -40px;
	list-style-type: none;
	display: block;
}
.users{
	height: 28px;
	*width: 200px!important;
	float: right;
	margin: 40px 0px 0px 0px;
	background-color:lightgray;
}
.users a{
	padding: 2px auto;
	float: left;
}

.body{
	height: 100%;

}


.left{
	height: 100%;
	width: 180px;
	float:left;

}
.left-nav{
	width: 100%;
	height: 100%;
	margin: 0px;

}
.left-nav ul{
	margin: 0px 0px 0px -26px;
	font-size: 20px;
	line-height: 30px;
	width: 160px;


}
.left-nav li{
	margin: 2px;
	height: 35px;
	width: 100%;
	list-style-type: none;
	display: list-item;
	border-width: 1px;
	border-color: lightgray;
	border-style: solid;

}
.right{
	width: 85%;
	float: right;
	background-color: #0c4fff;

}
.right-mini-nav{
	margin-left: 8px;
	padding: 0px;
	height: 20px;

	font-size: 14px;
	color: grey;
	float: left;
}


.right-nav{
	width:100%;
	background-color: aqua;

}
.right-nav ul{
	margin: 0px;
	font-size: 20px;
	line-height: 30px;
}
.right-nav li{
	margin: 2px;
	width: 500px;
	list-style-type: none;
	display: inline;

}
.right-content{
	width:80%;
}
.buttom{	
	margin:0px;

	background-color: #9a4;
	width: 100%;

}