<html>
<head>
	<title>Welcome NexERP</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("base.css")}}">
</head>
<body>
	<div class="contain">
		<div class="top">
			<div class="logo">
				<img src="test.jpg" 	alt="The LOGO Picture">
			</div>
			<div class ="users">
				<a href="urlchangepass">change pass</a>
				<a href="urluseseting"> setting</a>
			</div>
		</div>
	<div class="body">
		<div class="left">
			<div class="left-nav"> 
			<a href="">ddd</a>
			<ul>
				<li><a href="">daibanshixiang</a></li>
				<li><a href="">shixiang</a></li>
				<li><a href="">shixiang</a></li>
				<li><a href="">hixiang</a></li>
				<li><a href="">shixiang</a></li>
				<li><a href="">shixiang</a></li>

			</ul>
			</div>
		</div>


		
		<div class="right">
			{% block bodyright %} 
			{% end %}
		</div>

	</div>
	<div class="buttom">
		<h2>block buttom</h2>
			
	</div>
	</div>
</body>
</html>