<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0　Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Welcome NexERP</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("base.css")}}">
	<script type="text/javascript" src="{{static_url("jquery")}}">
	</script>
	<script type="text/javascript">
	$("document").ready(function(){

			conwidth=$(window).width()-4;

			conwidth=$(window).width()-2;
			rightwidth=conwidth-188;
			$(".contain").css("width",conwidth)
			$(".right").css("width",rightwidth)

			$(".left").load('/templates/left-nav.html');
			$(".right-nav").load("./templates/right-nav.html");
			$(".topnav").load("./templates/top-nav.html");
			$(".right-content").load("./templates/right-content.html");
			$(".left-nav ul:first").hide();
		});

	</script>
</head>
<body>
	<div class="contain">
		<div class="top">
			<div class="logo">
				<img src="test.jpg" 	alt="The LOGO">
			</div>
			<div class ="users">
				<ul>
					<li><a href="urlchangepass">username</a></li>
				</ul>
			</div>
			<div class ="users">
				<ul>
					<li><a href="urlchangepass">change pass</a></li>
				</ul>
			</div>



			<div class="topnav">
				<!--top-nav neirong  -->
			</div>


		</div>
	<div class="body">

		<div class="left">
			<!-- left-nav neirong -->
		</div>



		<div class="right">

<!-- 			<div class="right-mini-nav">
				right-mini-nav
			</div> --> 

			<div class="right-nav">
				<!-- Right-nav neirong -->
			</div>

			<div class="right-content">
				<!-- right content -->
			</div>

		</div>

		</div>


	    <div class="buttom">

		    <h2>block buttom</h2>

	    </div>
	</div>
</body>
</html>
