<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0　Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	<title>Welcome NexERP</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("base.css")}}">
</head>
<body>
	<div class="contain">
		<div class="top">
			<div class="logo">
				<img src="test.jpg" 	alt="The LOGO">
			</div>
			<div class ="users">
				<a href="urlchangepass">change pass</a>
				<a href="urluseseting"> setting</a>
			</div>
			<div class="top-nav">
				<ul>
					<li><a href="">Index Index</a></li>
				</ul>
			</div>
			<div class="top-nav">
				<ul>
					<li><a href="">Index</a></li>
				</ul>
			</div>
			<div class="top-nav">
				<ul>
					<li><a href="">Index Index Index</a></li>
				</ul>
			</div>
		</div>
	<div class="body">
		<div class="left">
			<div class="left-nav"> 
			<span><a href="">ddd</a></span>
			<ul>
				<li><a href="">daibanshixiang</a></li>
				<li><a href="">shixiang</a></li>
				<li><a href="">shixiang</a></li>
				<li><a href="">hixiang</a></li>
				<li><a href="">shixiang</a></li>
				<li><a href="">shixiang</a></li>

			</ul>
			</div>
		</div>
		<div class="right-mini-nav">
				<span>
					<a href="" >top</a>
					<a href="">>ttt</a>
				</span>
		</div>
		<div class="right">

			<div class="right-nav">
				<form>
					<span><a href="">right-nav:</a></span>
					<input type="text" onclick=""/>
				</form>
			</div>
			<div class="right-content">
				content
			</div>
		</div>

		</div>


	<div class="buttom">
		<h2>block buttom</h2>
			
	</div>
	</div> 
</body>
</html>
