<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0　Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-Frameset.dtd">
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="{{static_url("base.css")}}"> -->
	<script type="text/javascript">
	$("document").ready(function(){
	$(".left-nav ul:not(:first)").hide();
});
</script>
</head>
<body>
	
	<div class="left-nav"> 
		<li id="li"><a href="">我的工作台</a></li>
		<ul >
			<li><a href="">daibanshixiang</a></li>
			<li><a href="">shixiang</a></li>
			<li><a href="">shixiang</a></li>
			<li><a href="">hixiang</a></li>
			<li><a href="">shixiang</a></li>
			<li><a href="">shixiang</a></li>

		</ul>
	</div>
		<div class="left-nav"> 
		<li id="li"><a href="">我的工作台</a></li>
		<ul>
			<li><a href="">daibanshixiang</a></li>
			<li><a href="">shixiang</a></li>
			<li><a href="">shixiang</a></li>
			<li><a href="">hixiang</a></li>
			<li><a href="">shixiang</a></li>
			<li><a href="">shixiang</a></li>

		</ul>
	</div>
</body>
</html>